*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store

/build
/captures
.externalNativeBuild
.cxx

local.properties

/proguard/
/lint/
/lint-results.xml
/lint-results-debug.xml
/lint-results-release.xml

*.log

/releases

/obj/

.gradle/

.idea/*
!/.idea/vcs.xml
!/.idea/runConfigurations
*.sublime-workspace
*.sublime-project
